
<div id="product-container">
    <% if (products) { %>
        <table>
            <thead>  
                <td>Title</td>
                <td>Price</td>
                <td>Image</td>
            </thead>
            <% products.forEach(product => { %>
                <tr>
                    <td><%=product.title %>  </td>
                    <td><%= product.price %>  </td>
                    <td><img src="<%= product.thumbnail %> " alt="imagen "+<%= product.name %> >  </td>
                </tr> 
            <% }) %>        
        </table> 
    <% } else { return `<h2> No products</h2>`} %>
</div>